#board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
}

.dotLine{
    display: flex;
    justify-content: space-between;
}