#square{
    width: 100px;
    height: 100px;
    background: aliceblue;
}

.set-0 {
    width: 100px;
    height: 100px;
    background: aliceblue;
}

.set-1 {
    width: 100px;
    height: 100px;
    background: yellow;
}

.set-2 {
    width: 100px;
    height: 100px;
    background: violet;
}